:root{
    --whitte:#eee;  
/*     --gray:#d7d5d6; */
    --white:#fff ;   
  --lightGreen: #8eba36;
      --purple:#ccccf5   
    }

a{
  background-color:inherit ; 
  color: var(--white);
  text-decoration: none;
}

/* header  */

#header{
  display:flex;
  background:var(--whitte) ;
}

.header-title{
  margin-left:70px;
}

 .header-h1{
   text-align: center;
    font-weight: 1200;
    font-size: 2.5rem; 
   margin:4em 0 0 7px ;
    }

.header-p{
      text-align: center;    
        font-size: 1.0rem;  
}
.header-highlight{
  color: var(--lightGreen);
}
.Book-btn{
    border: none;
    border-radius: 7px;
    width: 50%;    
    height: 50px;
   background-color:var(--purple) ;
    color: var(--white);
    font-size: large;
    margin-left: 5em;  
  margin-top:75px;
}

 .Book-btn:hover{
    background-color:var(--lightGreen) ;   
       } 
 
.media{
  position: relative;
}

@keyframes img {
  0%   {mix-blend-mode:multiply;}
  100% {   mix-blend-mode:luminosity;}
}

img {
   width: 80%; 
  height:auto;
  margin:10em 1px 90px 10em;
  transform: rotate(2deg);
    mix-blend-mode:darken;
  animation-name: img;
  animation-duration: 15s;
    animation-delay: 8s;
    animation-iteration-count: infinite;
}



/* * media query */ 

   @media (max-width: 768px) {
     
.header-title{
  margin-left: 0;
}
     
 .header-h1{
   text-align: center;
    font-weight: 500;
    font-size: 1.5rem; 
   margin:3em 0 0 0;
    }

.header-p{
      text-align: center;    
        font-size: 0.7rem;  
}

.Book-btn{  
   font-size: 0.8em;  
      width:50%;  
/*     margin:20px 140px 10px ;   */  
    margin:auto ;  
      height: auto;
}


img{
  width: 100%;
  height: auto;
   margin:0 0;
   transform: none;
  mix-blend-mode:multiply;

} 
    
 #header{
  display:flex;
  flex-direction:column;
}
     

}


/* (orientation: landscape) */

@media  (orientation: landscape) {

  img{
  width: 100%;
  height: auto;
  mix-blend-mode:multiply;
}
  
.Book-btn{  
      width:70%;  
    margin:70px 0 30px 16%;  
      height: auto;
}

  .header-title{
  margin-left:5%;
}

 .header-h1{
   text-align: center;
    font-weight: 700;
    font-size: 2.5rem; 
   margin:3em 20px 0 7px ;
    }
  
#logo{   
    position: absolute;
    left: 72%;
    top: 31%;
    visibility: hidden;
}
}


/* (max-width: 1024px) */
@media  (max-width: 1024px) { 
  .Book-btn{  
      width:50%;  
    margin:40px 0 30px 25%; 
} 
#logo{   
    position: absolute;
    left: 70%;
    top: 65%;
    visibility: hidden;
}
}



/* Form Field */
* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
    background-image: linear-gradient(to bottom right, gray, peachpuff);
}

main {
  margin-top: 60px;
  padding: 0 40px;
}

.container h4 {
  font-weight: 500;
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.logo img {
  width: 36px;
  border-radius: 50%;
}

form .txt_field {
  position: relative;
  border-bottom: 1px solid dimgray;
  border-left: 1px solid dimgray;
  margin: 3rem 0;
}


.txt_field input {
  width: 100%;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
  font-family: sans-serif;
}

.txt_field label {
  position: absolute;
  font-weight: 400;
  top: 50%;
  left: 0px;
  color: black;
  transform: translateY(-200%);
  font-size: 19px;
  pointer-events: none;
  transition: .5s;
}

.phone-no {
  display: flex;
}

.book-button {
  background: black;
  color: white;
  position: relative;
  display: block;
  font-size: 1.5rem;
  font-family: sans-serif;
  text-align: center;
  padding: 10px 0;
}

.book-button:hover {
  cursor: pointer;
  background: #493f37;
  transition: 0.2s;
}

::placeholder {
  font-family: sans-serif;
}




/* bookings  */


