:root{
    --gray:#d7d5d6;
    --white:#fff ;   
  --lightGreen: #8eba36;
      --blue: #9c8b91;  
/*       --blue: #8da3b4;   */
  
/*       --blue: #bcb9ba;   */
  
  
  
    }

a{
  background-color:inherit ; 
  color: var(--white);
  text-decoration: none;
}

/* header  */

#header{
  display:flex;
  background:var(--gray) ;
}

.header-title{
  margin-left:70px;
}

 .header-h1{
   text-align: center;
    font-weight: 700;
    font-size: 2.5rem; 
   margin:3em 0 0 7px ;
    }

.header-p{
      text-align: center;    
        font-size: 1.0rem;  
}
.header-highlight{
  color: var(--lightGreen);
}
.Book-btn{
    border: none;
    border-radius: 7px;
    width: 50%;    
    height: 50px;
    background-color:var(--lightGreen) ;   
    color: var(--white);
    font-size: large;
    margin-left: 5em;  
  margin-top:75px;
}

 .Book-btn:hover{
    background-color:var(--blue) ;  
   
   } 
 
.media{
  position: relative;
}

@keyframes img {
  0%   {mix-blend-mode:multiply;}
  100% {   mix-blend-mode:luminosity;}
}


img {
   width: 80%; 
  height:auto;
  margin:10em 10px 90px 10em;
      transform: rotate(2deg);
    mix-blend-mode:darken;
  animation-name: img;
  animation-duration: 15s;
    animation-delay: 8s;
    animation-iteration-count: infinite;
}



/* * media query */ 

   @media (max-width: 768px) {
     
.header-title{
  margin-left: 0;
}
     
 .header-h1{
   text-align: center;
    font-weight: 500;
    font-size: 1.5rem; 
   margin:3em 0 0 0;
    }

.header-p{
      text-align: center;    
        font-size: 0.7rem;  
}

.Book-btn{  
   font-size: 0.8em;  
      width:50%;  
    margin:20px 140px 10px ;  
      height: auto;
}


img{
  width: 100%;
  height: auto;
   margin:0 0;
   transform: none;
  mix-blend-mode:multiply;

}
   

    
 #header{
  display:flex;
  flex-direction:column;
}     
 }
/* (orientation: landscape) */

@media   
/* (max-width: 1024px) */
 (orientation: landscape) {

  img{
  width: 100%;
  height: auto;
   transform: none;
  mix-blend-mode:multiply;
    margin:20% 0 5px 0;    

}
  
.Book-btn{  
/*    font-size: 0.8em;   */
      width:50%;  
    margin:40px 0 30px 25%;  
      height: auto;
}

  .header-title{
  margin-left:20px;
}

 .header-h1{
   text-align: center;
    font-weight: 700;
    font-size: 2.0rem; 
   margin:3em 20px 0 7px ;
    }
}




/* (max-width: 1024px) */

@media  (max-width: 1024px) 
/* and  (min-width: 1026px)  */
{

/*   img{
  width: 100%;
  height: auto;
   transform: none;
  mix-blend-mode:multiply;
    margin:20% 0 5px 0;    

}
   */
.Book-btn{  
/*    font-size: 0.8em;   */
      width:50%;  
    margin:40px 0 30px 25%;  
      height: auto;
}

/*   .header-title{
  margin-left:20px;
}

 .header-h1{
   text-align: center;
    font-weight: 700;
    font-size: 2.0rem; 
   margin:3em 20px 0 7px ;
    } */
}








/* Form Field */
.form-container {
    background-image: linear-gradient(to bottom right, blue, yellow);
}

h1, p {
    text-align: center;
    margin-bottom: 0;
}

.contact-form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    padding: 20px;
    text-align: left;
    width: 100%;
  }

  .form-field {
  border: 1px solid rgb(53, 47, 74);
  border-radius: 10px;
  padding: 20px;
  width: 50%;
  background: rgb(53, 47, 74);
  }
 
  form input {
    height: 25px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #0000;
    width: 100%;
  }

  input::placeholder {
    color: rgba(0, 0, 0, 0.317);
  }
  
  label {
    color: white;
  }

  select {
    width: 100%;
    height: 2rem;
    padding-left: 2.2rem;
    background: rgba(26, 2, 8, 0.523);
    outline: none;
    border-radius: 5px;
    color: white;
  }
  button {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: rgba(26, 2, 8, 0.523);
    color: white;
    cursor: pointer;
  }
    
