:root{
    --whitte:#eee;  
/*     --gray:#d7d5d6; */
    --white:#fff ;   
  --lightGreen: #8eba36;
      --purple:#ccccf5   
    }

a{
  background-color:inherit ; 
  color: var(--white);
  text-decoration: none;
}

/* header  */

#header{
  display:flex;
  background:var(--whitte) ;
}

.header-title{
  margin-left:70px;
}

 .header-h1{
   text-align: center;
    font-weight: 1200;
    font-size: 2.5rem; 
   margin:4em 0 0 7px ;
    }

.header-p{
      text-align: center;    
        font-size: 1.0rem;  
}
.header-highlight{
  color: var(--lightGreen);
}
.Book-btn{
    border: none;
    border-radius: 7px;
    width: 100%;    
    padding: 10px 0;
    background-color: black ;
    color: var(--white);
    font-size: large;
    margin-left: 5em;  
    margin-top: 75px;
}

 .Book-btn:hover{
    background-color:var(--lightGreen) ;   
       } 
 
.media{
  position: relative;
}

@keyframes .image {
  0%   {mix-blend-mode:multiply;}
  100% {   mix-blend-mode:luminosity;}
}

 .image {
   width: 80%; 
  height: auto;
   margin: 15px 0; 
/*   transform: rotate(2deg); */
    mix-blend-mode:darken;
  animation-name: img;
  animation-duration: 15s;
    animation-delay: 8s;
    animation-iteration-count: infinite;
}



/* * media query */ 

   @media (max-width: 768px) {
     
.header-title{
  margin-left: 0;
}
     
 .header-h1{
   text-align: center;
    font-weight: 500;
    font-size: 1.5rem; 
   margin:3em 0 0 0;
    }

.header-p{
      text-align: center;    
        font-size: 0.7rem;  
}

.Book-btn{  
   font-size: 0.8em;  
      width:50%;   
    margin:auto ;  
      height: auto;
}


 .image{
  width: 100%;
  height: auto;
/*    margin:0 0; */
   transform: none;
  mix-blend-mode:multiply;

} 
    
 #header{
  display:flex;
  flex-direction:column;
}
     

}


/* (orientation: landscape) */

@media  (orientation: landscape) {

  .image{
  width: 100%;
  height: auto;
  mix-blend-mode:multiply;
}
   
.Book-btn{  
      width:70%;  
    margin:70px 0 30px 16%;  
      height: auto;
}

  .header-title{
  margin-left:5%;
}

 .header-h1{
   text-align: center;
    font-weight: 700;
    font-size: 2.5rem; 
   margin:3em 20px 0 7px ;
    }
  
#logo{   
    position: absolute;
    left: 72%;
    top: 31%;
    visibility: hidden;
}
}


/* (max-width: 1024px) */
@media  (max-width: 1024px) { 
  .Book-btn{  
      width:50%;  
    margin:40px 0 30px 25%; 
} 
#logo{   
    position: absolute;
    left: 70%;
    top: 65%;
    visibility: hidden;
}
}


/* Form Field */

.form-container {
  background-image: linear-gradient(to bottom right, #bcb4c5, #bbbec9);
}

.form-container form {
  margin-top: 60px;
  padding: 0 40px;
}
.text-1 {
  text-align: center;
  padding-top: 10px;
}
.text-2 {
  text-align: center;
  padding-top: 5px;
}

.mtn {
  background: yellow;
  color: white;
}
.etisalat {
  background: #042a04;
  color: white;
}
.glo {
  background: green;
  color: white;
}
.airtel {
  background: #a60c0c;
  color: white;
}

.logo img {
  width: 36px;
  border-radius: 50%;
}

form .txt_field {
  position: relative;
  border-bottom: 1px solid dimgray;
  border-left: 1px solid dimgray;
  margin: 3rem 0;
}


.txt_field input {
  width: 100%;
  height: 40px;
  font-size: 16px;
  border: none;
  outline: none;
}

.txt_field label {
  position: absolute;
  font-weight: 400;
  top: 50%;
  left: 0px;
  color: black;
  transform: translateY(-200%);
  font-size: 19px;
  pointer-events: none;
  transition: .5s;
}

.phone-no {
  display: flex;
}

.book-button {
  background: black;
  color: white;
  position: relative;
  display: block;
  font-size: 1.5rem;
  text-align: center;
  padding: 10px 0;
}

.book-button:hover {
  cursor: pointer;
  background: #79af84;
  transition: 0.2s;
}

::placeholder {
  font-family: sans-serif;
}


/* Doctors flexbox  */
/* This section is still under "active edit" as some of the classes are conflicting with others thus changing the whole UI orientation. Take note but you can help edit if possible */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.cards {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

@media only screen and (max-width: 768px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px){
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        place-items: center;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px){
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        place-items: center;
    }
}


.image {
    height: 250px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 15px 15px 0 0;
}

.card {
    width: 400px;
    height: 500px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgb(184, 172, 238);
}

@media only screen and (max-width: 425px) {
    .card {
        height: 450px;
    }
}

@media only screen and (max-width: 425px) {
    .card {
        width: 300px;
    }
}

@media only screen and (max-width: 768px) {
    .card {
        margin-bottom: 20px;
    }
}

@media only screen and (min-width:768px) and (max-width: 992px) {
    .card {
        width: 350px;
    }
}

.card-body {
    display: flex;
    flex-direction: column;
    padding: 0 20px ;
}

#card-title {
    font-size: 30px;
    font-weight: bold;
}

@media only screen and (max-width: 425px) {
    #card-title {
        font-size: 20px;
    }
}

p, a {
    font-size: 18px;
}

@media only screen and (max-width: 425px) {
    p, a {
        font-size: 14px;
    }
}

h5, p, a {
    margin-top: 15px;
}

/* a {
    color: black;
    background-color: rgb(187, 150, 206);
    text-decoration: none;
    border: 1px solid black;
    width: 40%;
    margin: 0 auto;
    margin-top: 15px;
    text-align: center;
    padding: 5px 0;
    border-radius: 10px;
}
 */
a:hover {
    color: white;
/*     background-color: black; */
}


/* navbar styling */
.navbar {
  font-family: cursive;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eee;
  background-size: contain;
  color: #000;
  margin: 0;
  padding: 20px;
  /* making it fixed while scrolling */
  position: sticky;
  top: 0;
  right: 0;
  z-index: 9999;
}

.links a {
  color: #000;
}

/* styling the links */
.menu {
  display: flex;
  font-size: 18px;
  gap: 1em;
}

.menu li:hover {
  color: blue;
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
  list-style: none;
}

#navright :hover {
  color: blue;
}

#text {
  color: #fff;
   font-size: 14px;
  font-weight: 600;
  line-height: 1.25;
}

a {
  text-decoration: none;
}

/* styling the button */
.btn {
  background-color: #000;
  color: white;
   font-size: 14px;
  font-weight: 600;
  line-height: 1.25;
  margin: 0;
  width: auto;
  border-radius: 7px;
  border: none;
  padding: 5px 10px;
}

.btn:hover {
  background-color: #8eba36;
}

/* styling the logo */
.logos {
  background: #8eba36;
  border-radius: 50%;
  width: 71px;
  height: 82px;
  position: relative;
  line-height: 0;
  font-size: 32px;
}
.txt {
  position: absolute;
  bottom: 50%;
  width: 98%;
  text-align: center;
  color: #fff;
}

/* styling the hamburger menu */
input[type="checkbox"] {
  display: none;
}

.hamburger {
  display: none;
  font-size: 24px;
}

/* making it responsive */
@media screen and (max-width: 764px) {
  .menu {
    display: none;
    position: absolute;
    background-color: #eee;
    right: 0;
    left: 0;
    text-align: center;
    padding: 10px;
    position: sticky;
    top: 0;
    right: 0;
    z-index: 9999;
  }
  .menu li:hover {
    display: inline-block;
    color: blue;
    transition: 0.3s ease;
  }

  .menu li + li {
    margin-top: 12px;
  }

  /* opens the hamburger menu when clicked on */
  input[type="checkbox"]:checked ~ .menu {
    display: inline-block;
    margin: 30px;
  }

  .hamburger {
    display: block;
  }
  .txt {
    position: absolute;
    bottom: 50%;
    width: 98%;
    text-align: center;
    color: #fff;
  }
}
/* nav bar styling ends */