:root{
    --whitte:#eee;  
/*     --gray:#d7d5d6; */
    --white:#fff ;   
  --lightGreen: #8eba36;
      --purple:#ccccf5   
    }
body{
  background: #357479;
}
a{
  background-color:inherit ; 
  color: var(--white);
  text-decoration: none;
}

/* header  */

#header{
  background-image: linear-gradient(to bottom, rgba(200, 240, 149, 0.32), rgba(122, 38, 34, 0.65)), url('./images/happy6.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 90%;
    overflow: hidden;
}

 .header-h1{
   text-align: center;
    font-weight: 1200;
    font-size: 2rem; 
   margin:4em 0 0 7px ;
   color: white;
    }

.header-p{
      text-align: center;  
  font-weight: bold;
        font-size: 1rem;
  color: white;
}
.header-highlight{
  color: var(--lightGreen);
}
.Book-btn{
    border: none;
    border-radius: 7px;
    width: 100%;    
    padding: 10px 0;
    background-color: black ;
    color: var(--white);
    font-size: large;
    margin-left: 5em;  
   
}

 .Book-btn:hover{
    background-color:var(--lightGreen) ;   
       } 
 
.media{
  position: relative;
}

/* * media query */ 

   @media (max-width: 768px) {
   
#header{
  background-image: linear-gradient(to bottom, rgba(200, 240, 149, 0.32), rgba(122, 38, 34, 0.65)), url('./images/happy6.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50%;
    overflow: hidden;
}
     
.header-title{
  margin-left: 0;
}
     .header-highlight {
       color: green;
     }
 .header-h1{
   text-align: center;
    font-weight: 500;
    font-size: 1.5rem; 
   margin:3em 0 0 0;
    }

.header-p{
      text-align: center;    
        font-size: 0.9rem;  
}

.Book-btn{  
   font-size: 0.8em;  
      width:50%;   
    margin:auto ;  
      height: auto;
}
    
 #header{
  display:flex;
  flex-direction:column;
}
   }

/* (orientation: landscape) */

@media  (orientation: landscape) {
   
#header{
  background-image: linear-gradient(to bottom, rgba(200, 240, 149, 0.32), rgba(122, 38, 34, 0.65)), url('./images/happy6.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 60%;
    overflow: hidden;
}
  
.Book-btn{  
      width:30%;  
    margin:30px 0 30px 35%;  
      height: auto;
}

  .header-title{
  margin-left:5%;
}

 .header-h1{
   text-align: center;
    font-weight: 700;
    font-size: 2.5rem; 
   margin:3em 20px 0 7px ;
    }
}
/* 
/* (max-width: 1024px) */
@media  (max-width: 1024px) { 
  .Book-btn{  
      width:50%;  
    margin:40px 0 30px 25%; 
} 
} */

/* Form Field starts here*/
/* Form Field */
.form-container {
  background-image: linear-gradient(to bottom right, #bcb4c5, #bbbec9);
}

.form-container form {
  margin-top: 60px;
  padding: 0 40px;
}
.text-1 {
  text-align: center;
  padding-top: 10px;
}
.text-2 {
  text-align: center;
  padding-top: 5px;
}

.mtn {
  background: #ffde24;
  color: white;
}
.etisalat {
  background: #042a04;
  color: white;
}
.glo {
  background: green;
  color: white;
}
.airtel {
  background: #a60c0c;
  color: white;
}

.logo img {
  width: 36px;
  border-radius: 50%;
}

form .input-area {
  position: relative;
  border-bottom: 1px solid dimgray;
  border-left: 1px solid dimgray;
  margin: 3rem 0;
}

.input-area input {
  width: 100%;
  height: 40px;
  font-size: 16px;
  border: none;
  outline: none;
}

.input-area label {
  position: absolute;
  font-weight: 400;
  top: 50%;
  left: 0px;
  color: black;
  transform: translateY(-190%);
  font-size: 19px;
  transition: 0.5s;
}

.input-num {
  display: flex;
}

.book-button {
  width:100%;
  background: black;
  color: white;
  position: relative;
  display: block;
  font-size: 1.5rem;
  text-align: center;
  padding: 10px 0;
}

.book-button:hover {
  cursor: pointer;
  background: #79af84;
  transition: 0.2s;
}

/* Doctors flexbox  */
/* Doctors flexbox  */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.cards {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

@media only screen and (max-width: 768px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px){
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        place-items: center;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px){
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        place-items: center;
    }
}

.image {
    height: 250px;
}

.doctor-img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 15px 15px 0 0;
}

.card {
    width: 400px;
    height: 500px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgb(184, 172, 238);
}

@media only screen and (max-width: 425px) {
    .card {
        height: 450px;
    }
}

@media only screen and (max-width: 425px) {
    .card {
        width: 300px;
    }
}

@media only screen and (max-width: 768px) {
    .card {
        margin-bottom: 20px;
    }
}

@media only screen and (min-width:768px) and (max-width: 992px) {
    .card {
        width: 350px;
    }
}

.card-body {
    display: flex;
    flex-direction: column;
    padding: 0 20px ;
}

#card-title {
    font-size: 30px;
    font-weight: bold;
}

@media only screen and (max-width: 425px) {
    #card-title {
        font-size: 20px;
    }
}

p, a {
    font-size: 18px;
}

@media only screen and (max-width: 425px) {
    p, a {
        font-size: 14px;
    }
}

h5, p, a {
    margin-top: 15px;
}
/* Doctors flexbox ends here */


/* navbar styling starts here*/
/* navbar styling */
.navbar {
  font-family: cursive;
  display: flex;
  justify-content: space-between;
  background-color: #0b320b;
  background-size: contain;
  color: #fff;
  margin: 0;
  padding: 20px;
  /* making it fixed while scrolling */
  position: sticky;
  top: 0;
  right: 0;
  z-index: 9999;
}

.links a {
  color: #fff;
}

/* styling the links */
.menu {
  display: flex;
  font-size: 18px;
  gap: 1em;
 
}



.menu li {
  padding: 5px 14px;
  list-style: none;
}

#navright :hover {
  color: #8eba36;
}


#text {
  color: #fff;
   font-size: 14px;
  font-weight: 600;
  line-height: 1.25;
}

a {
  text-decoration: none;
}

/* styling the button */
.btn {   background-color: #000;
  color: white;
   font-size: 14px;
  font-weight: 600;
  line-height: 1.25;
  margin: 0;
  width: auto;
  border-radius: 7px;
  border: none;
  padding: 5px 10px; 
}
 
.btn:hover {
  background-color: #8eba36;
}

/* styling the logo */
.logos {
  background: #8eba36;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: relative;
  line-height: 0;
  font-size: 24px;
}
.txt {
  position: absolute;
  bottom: 50%;
  width: 98%;
  text-align: center;
  color: #fff;
}

/* styling the hamburger menu */
input[type="checkbox"] {
  display: none;
}

.hamburger {
  display: none;
  font-size: 24px;
}

/* making it responsive */
@media screen and (max-width: 768px) {
  .menu {
    display: none;
    background-color: #0b320b;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: sticky;
    right: 0;
    z-index: 9999;
    position: absolute;
    top: 60px;
  }
  
  .menu li:hover {
    display: inline-block;
    color: blue;
    transition: 0.3s ease;
  }

  .menu li + li {
    margin-top: 12px;
  }

  /* opens the hamburger menu when clicked on */
  input[type="checkbox"]:checked ~ .menu {
    display: inline-block;
    margin: 30px;
  }

  .hamburger {
    display: block;
     margin-right:68px;
  }
  .txt {
    position: absolute;
    bottom: 50%;
    width: 98%;
    text-align: center;
    color: #fff;
  }
}
/* nav bar styling ends */


/* Footer starts*/
.footer-container {
  text-align: center;
  padding: 10px 40px;
  margin: auto;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.footer-div {
  background: white;
  color: black;
  padding: 10px 0;
  border: 10px solid #8eba36;
}

.footer-text {
  color: blue;
}

div > a:hover {
  color: red;
}
/* Footer Ends */
